.proflinks{
    text-align: center;
    padding-bottom: 30px;
    font-size: 12px;
}

.profcontact{
    text-align: center;
    padding-bottom: 10px;
    font-size: 10px;
}

.profimage{
    align-content: center;
    padding-left: 150px;
}

.image{
    align-content: center;
    padding-bottom: 50px;
}
.portfolio{
    align-content: center;
} 

.portfoliorow{
    padding-bottom: 50px;
}
.description{
    padding-bottom: 50px;
}