.proflinks{
    text-align: center;
    padding-bottom: 30px;
    font-size: 12px;
}

.profcontact{
    text-align: center;
    padding-bottom: 10px;
    font-size: 10px;
}

.profimage{
    align-content: center;
    padding-left: 150px;
}